body {
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    max-width: 55em;
    margin:0 auto;
    color: #333;
    line-height: 1.4;
    font-size: 1em;
}

code, pre {
    font-size: 1.2em;
    font-family: monospace;
}

table {
    width: 100%;
    border: 1px solid #666;
}

th, td {
    text-align: left;
    padding: 0.5em;
}

fieldset {
    text-align: center;
    border: 0;
}

button {
    margin: 0.5em;
}

button.approve {
    color: #080;
}

button.reject {
    color: #800;
}
