<?php

return [
    // enable Twig template cache
    'enableTemplateCache' => true,

    // the attribute to use to determine the user ID, e.g. for mod_auth_mellon
    'userIdAttribute' => 'MELLON_NAME_ID',

    // the signature keypair used for signing access tokens, generate your own
    // with vpn-token-service-generate-keypair (or php bin/generate-keypair.php)
    'keyPair' => '__REPLACE_ME__',

    // list of all OAuth clients registered to obtain access tokens
    'clientList' => [
        // API 1 Apps
        'nl.eduvpn.app' => [
            'redirect_uri' => 'nl.eduvpn.app://import/callback',
            'response_type' => 'token',
            'display_name' => 'eduVPN for Android',
        ],
        // API 2 Apps
        //'nl.eduvpn.app.android' => [
        //    'redirect_uri' => 'nl.eduvpn.app.android://api/callback',
        //    'response_type' => 'code',
        //    'display_name' => 'eduVPN for Android',
        //],
        //'nl.eduvpn.app.windows' => [
        //    'redirect_uri' => 'nl.eduvpn.app.windows://api/callback',
        //    'response_type' => 'code',
        //    'display_name' => 'eduVPN for Windows',
        //],
    ],
];
